.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1000px;
  min-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  gap: 2rem;
}

.title {
  font-size: clamp(2rem, 5vw, 5rem);
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  display: flex;
  flex: 1;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn {
  flex: 1;
  cursor: pointer;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: rgb(22, 85, 137);
  transition: color 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

.btn:hover {
  color: rgb(222, 0, 0);
  font-size: 5rem;
}

.btn:active {
  color: rgb(22, 85, 137);
  font-size: 3rem;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  width: clamp(300px, 50vw, 650px);
  height: clamp(400px, 60vw, 750px);
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.right {
  transform: scale(1.05);
  transform: translateX(-20px);
  opacity: 0;
}

.left {
  transform: scale(1.05);
  transform: translateX(20px);
  opacity: 0;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: rgb(157, 168, 202);
  border: none;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active {
  background-color: rgb(22, 85, 137);
}
